# filename: /etc/systemd/system/undervolt.service

[Unit]
Description=undervolt

[Service]
Type=oneshot
# If you want to run from source:
ExecStart=/home/rtfpessoa/.pyenv/shims/undervolt -v --core -150 --gpu -50 --cache -150 --uncore -50 --temp 75
