[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/rtfpessoa/prezto.git
	ignore = dirty
[submodule "bash/themes/agnoster"]
	path = bash/themes/agnoster
	url = https://gist.github.com/7a745be31e89673b8fc7.git
[submodule "zsh/themes/rtfpessoa"]
	path = zsh/themes/rtfpessoa
	url = https://gist.github.com/9737c2d0d3b5fe5aa2e8.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
